<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기록 보기</title>
    <link rel="stylesheet" href="{% static 'laundry_manager/style.css' %}">
    <link rel="stylesheet" href="{% static 'laundry_manager/record-settings-style.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="page-container">
        <div class="content-wrapper">
            <header class="record-header">
                <nav class="top-nav">
                    <a href= {% url 'profile' %}><button class="icon-btn"><i class="fa-solid fa-arrow-left"></i></button></a>
                    <h1>기록보기</h1>
                </nav>
            </header>

            <main class="record-content">
                <div class="history-list">
                    {% for record in records %}
                    <a href="{% url 'laundry_history_detail' record.pk %}" class="history-item">
                        <img src="{{ record.get_stain_image_url }}" alt="{{ record.stains }}" class="history-img">
                        <div class="history-details">
                            <h4>{{ record.materials }} / {{ record.stains }} 제거</h4>
                            <p>{{ record.created_at|timesince }} 전 검색</p>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    {% empty %}
                        <p style="text-align: center; color: #888;">아직 기록이 없습니다.</p>
                    {% endfor %}
                    </div>
            </main>
        </div>

        <nav class="bottom-nav">
            <a href="{% url 'main' %}" class="nav-item">
                <i class="fa-solid fa-house"></i>
                <span>메인 화면</span>
            </a>
            <a href="{% url 'map' %}" class="nav-item">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>지도</span>
            </a>
            <a href="{% url 'laundry-upload' %}" class="nav-item-main">
                <i class="fa-solid fa-camera"></i>
            </a>
            <a href="{% url 'dictionary' %}" class="nav-item">
                <i class="fa-solid fa-book-open"></i>
                <span>백과사전</span>
            </a>
            <a href="{% url 'profile' %}" class="nav-item active">
                <i class="fa-solid fa-gear"></i>
                <span>더보기</span>
            </a>
        </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>
    
    <script type="module" src="{% static 'laundry_manager/record-settings-script.js' %}"></script>
</body>
</html>